
* {
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    margin : 0;
    padding : 0;
}

body {
    display: flex;
    flex-direction : column;
    justify-content : start;
}


h1 {
    font-size : 48px;
    color : #F9FAf8;
    font-weight : 900;
    margin-bottom : -6px;
}

h2 {
    font-size : 24px;
    color : #1f2937;
    margin-left : 128px;
}

a {
    font-size: 18px;
    color : #E5E7EB;
    text-decoration : none;
    margin : 10px;
}

.header {
    display : flex;
    justify-content : space-between;
    background-color : #1F2937;
    width : 100%;
}

.header-right {
    margin-right : 64px;
}

.header-left {
    margin-left : 96px;
    margin-top : -10px;
    font-size : 18px;
    color : #F9FAf8
}

.top-content {
    display : flex;
    justify-content : start;
    background-color : #1F2937;
    color : #F9FAf8;
    height : 320px;
}

.top-content-left {
    display : flex;
    flex-direction : column;
    justify-content : start;
    max-width : 360px;
    margin-left : 272px;
}

#placeholder {
    display : flex;
    align-items : center;
    margin-left : 230px;
    margin-bottom : 40px;
    padding : 120px;
    padding-left : 160px;
    padding-right : 160px;
    border : lightslategray;
    background-color : rgb(255, 240, 225, 0.5);
    
}

#signup-top {
    background-color : #3882f6;
    color : #F9FAf8;
    width : 128px;
    border : none;
    border-radius : 30px;
    height : 32px;
}

.content {
    display : flex;
    flex-direction : column;
    align-items : center;
    margin-top : 30px;
}

.cards-title {
    display : flex;
    margin-right : 90px;
    margin-bottom : 20px;
}

#information-title {
    font-weight : bold;
    font-size : 32px;
}

.cards {
    display : flex;
    justify-content : space-evenly;
}

.cardbox {
    width : 155px;
    height : 155px;
    margin-left : 50px;
    margin-right : 50px;
    border : 3px solid #3882f6;
    border-radius : 16px;
}

.card-text {
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    margin-left : 20px;
    color : #1f2937;
    font-size : 16px;
    font-weight : 200;
}

.card-subtext {
    width : 160px;
    height : 160px;
    margin-left : 50px;
    margin-right : 50px;

}

.quoteblock {
    background-color : #E5E7EB;
    padding : 80px;
    margin-top : -60px;
}

#quote {
    font-size : 36px;
    font-style : italic;
    color : #1f2937;
    max-width : 50%;
    margin-left : 25%;
}

#quote-author{
    font-size : 32px;
    font-weight : bold;
    color : #1f2937;
    margin-left : 60%;
}